body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: aqua;
    text-decoration: none;
    font-weight: 600;
}

a:hover{
    color: red;
    text-decoration: underline;

}

a:visited{
    color: darkred;
}

a:active{
    color: black;
}

a::after{
    content:' [link]';
    font-weight: 300;
    color: darkgray;
}