body{
    background-color: rgb(123, 185, 255);
    
}


h1#titulo{
    color: white;
    text-align: center;
}

section#con-img{
    width: 600px;
    padding:20px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(36, 29, 29, 0.555);
}

div{
    text-align: center;
    font-family: rubik;
    font-size: 22px;
    font-weight: 100;
    padding: 10px;
}



p#cp{
    color: white;
    font-family: rubik;
    font-size: 22px;
    text-align: center;
}

